.tablero{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 300px;
    height: 300px;    
    margin:  0 auto;
}
h1, h3{
    text-align: center;
}
.tablero div {
    width: 20px;
    height: 20px;
}
.balas{
    background-color: yellow;
}
.aliens{
    background-color:darkgreen;
    border-radius: 10px;
}
.nave{
    background-color: blue;
    border-radius: 20px 20px 0 0;
}
.explosion{
    background-color: red;
}