body{
    overflow-y:hidden;
}
.tablero{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 600px;
    height: 600px;    
    margin:  0 auto;
}
h1, h3{
    text-align: center;
}
.tablero div {
    width: 40px;
    height: 40px;
}
.balas{
    background-color: yellow;
}
.aliens{
    background: no-repeat center/250% url("images/alien.png");
    /* background-color:darkgreen;
    border-radius: 10px; */
}
.nave{
    background: no-repeat center/75% url("images/nave.png");
    /* background-color: blue; */
    /* border-radius: 20px 20px 0 0; */
}
.explosion{
    background-color: red;
}